<h1>Add suggestion</h1>

<div class="form-tabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{active: $ctrl.tab == 1}"><a aria-controls="descover" role="tab" data-toggle="tab" ng-click="$ctrl.tab = 1">Discover</a></li>
    <li role="presentation" ng-class="{active: $ctrl.tab == 2}"><a aria-controls="search" role="tab" data-toggle="tab" ng-click="$ctrl.tab = 2">Search</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" id="discover" ng-show="$ctrl.tab == 1">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Year</label>
            <select class="form-control" ng-model="$ctrl.year" ng-change="$ctrl.discover()">
              <option ng-repeat="i in $ctrl.years" ng-value="i">
                {{i}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Genres</label>
            <select class="form-control" ng-model="$ctrl.genre" ng-change="$ctrl.discover()">
              <option ng-repeat="genre in $ctrl.genres" ng-value="genre.id">
                {{genre.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" id="search"  ng-show="$ctrl.tab == 2">
      <div class="form-group">
        <label for="">Name</label>
        <input ng-model="$ctrl.name" type="text" ng-keyup="$ctrl.search()" placeholder="name" class="form-control">
      </div>
    </div>
  </div>
</div>




<div ng-if="$ctrl.fetching" class="loader">
  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>

<div class="movies-list" ng-cloak>
  <ul class="row">
    <li ng-repeat="(i, movie) in $ctrl.movies" class="col-md-4 col-sm-6">
      <div class="img-wrap">
        <img src="{{'https://image.tmdb.org/t/p/w500'+movie.backdrop_path}}" ng-if="movie.backdrop_path" class="md-card-image">
        <img src="{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}" ng-if="!movie.backdrop_path" class="md-card-image">
      </div>
      <div class="title">{{movie.title}}</div>
      <div class="date">{{movie.release_date}}</div>
      <div class="description">{{movie.overview}}</div>
      <div class="footer">
        <md-button ng-click="$ctrl.addMovie(i)" class="btn btn-sm btn-default">add</md-button>
      </div>
    </li>
  </ul>
</div>
